# Secrets
.env
*.env
secrets/

# Docker
*.tar

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Logs
*.log

# OS
.DS_Store
kubectl
minikube-linux-amd64

# Terraform plans
*.tfplan
tfplan

# Keep tfvars in git (no secrets in these)
# !terraform/*.tfvars
